<!DOCTYPE html>
<html lang="en">

<head>
	<title>Asrkari Satyagraha</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://code.angularjs.org/1.8.0/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.8.0/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		
		
    .noPadding {
      padding: 0px 20px;
    }
    .noPaddinghw {
      padding: 0px 0px;
    }
	</style>
	<script>
		var app = angular.module('myApp', ["ngSanitize"]);
		    app.controller('myCtrl', function($scope, $http) {
		      
		      $scope.textContent = {
		        English : {
		          Title: "Asrkari Satyagraha",
		          
		          Home :{
		            Lable : "Home",
		          },
		          About :{
		            Lable : "About",
		          },
		          Contact :{
		            Lable : "Contact",
		          }
		        },
		        Hindi : {
		          Title: "असरकारी सत्याग्रह",
		          
		          Home :{
		            Lable : "होम",
		          },
		          About :{
		            Lable : "बारे में",
		          },
		          Contact :{
		            Lable : "सम्पर्क करें",
		          }
		        },
		        /*Marathi : {
		          Title : "Marathi"
		        }*/
		      };
		      
		      $scope.changeLanguage = function(lang) {
		        $scope.myLanguage = $scope.textContent[lang];
		          $http.get(lang +"/Home.html").then(function(response) {
		            $scope.myLanguage.Home.htmlContent = response.data;
		          });
		          $http.get(lang +"/About.html").then(function(response) {
		            $scope.myLanguage.About.htmlContent = response.data;
		          });
		          $http.get(lang +"/Contact.html").then(function(response) {
		            $scope.myLanguage.Contact.htmlContent = response.data;
		          });
		          
		      }
		      $scope.changeLanguage("English");
		    });
		    $(document).ready(function(){
		      $(".navbar-nav a").click(function(){
		        //console.log("A");
		          $(this).tab('show');
		      });
		    });
	</script>
</head>

<body id="page" ng-app="myApp" ng-controller="myCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid noPadding">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button> <a class="navbar-brand" href="#">{{myLanguage.Title}}</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a data-toggle="collapse" data-target=".in" href="#Home">{{myLanguage.Home.Lable}}</a>
					</li>
					<li><a data-toggle="collapse" data-target=".in" href="#About">{{myLanguage.About.Lable}}</a>
					</li>
					<li><a data-toggle="collapse" data-target=".in" href="#Contact">{{myLanguage.Contact.Lable}}</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-toggle="collapse" data-target=".in" ng-click="changeLanguage('English')">English</a>
							</li>
							<li><a data-toggle="collapse" data-target=".in" ng-click="changeLanguage('Hindi')">हिंदी</a>
							</li>
							<!--<li><a data-toggle="collapse" data-target=".in" ng-click="changeLanguage('Marathi')">Marathi</a></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid noPaddinghw" id="mainPageImage">
    <img class="hidden-xs hidden-sm noPaddinghw" src="./img/title-bg-img.png" width="100%"  alt="Asrkari Satyagraha">
    <img class="visible-xs visible-sm noPaddinghw" src="./img/title-bg-img-phone.png" width="100%"  alt="Asrkari Satyagraha">
	</div>
	<div class="container-fluid" id="Home">
		<div ng-bind-html="myLanguage.Home.htmlContent"></div>
	</div>
	<div class="container-fluid" id="About">
		<div ng-bind-html="myLanguage.About.htmlContent"></div>
	</div>
	<div class="container-fluid" id="Contact">
		<div ng-bind-html="myLanguage.Contact.htmlContent"></div>
	</div>
</body>
</html>